.vs/
.git/
.github/
**/.nuget/

Production.Enterprise.Api/obj/
Production.Enterprise.Api/bin/

Production.Enterprise.Grpc/obj/
Production.Enterprise.Grpc/bin/

Production.Enterprise.Front/obj/
Production.Enterprise.Front/bin/

Production.Enterprise.Domain/obj/
Production.Enterprise.Domain/bin/

Production.Enterprise.Infrastructure/obj/
Production.Enterprise.Infrastructure/bin/

Production.Enterprise.Application/obj/
Production.Enterprise.Application/bin/