.vs/
.git/
.github/

Production.Enterprise.Api/obj/
Production.Enterprise.Api/Properties/

Production.Enterprise.Application/Properties/

Production.Enterprise.Domain/Properties/

Production.Enterprise.Infrastructure/Properties/

Production.Enterprise.Grpc/obj/
Production.Enterprise.Grpc/Properties/

Production.Enterprise.Front/obj/
Production.Enterprise.Front/Properties/